* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #dbdbdb;
  padding: 30px;
}

.titulo {
  font-size: 24px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  & .card {
    width: 25%;
    padding: 20px 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  & .card:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  & .row {
    display: flex;
    gap: 10px;
  }
  & .card i {
    font-size: 30px;
    color: white;
  }

  & .card h3 {
    font-size: 16px;
  }

  & .card p {
    font-size: 24px;
    font-weight: bold;
  }
  & .salario {
    background-color: #1d9021; /* Verde */
  }

  & .gastos {
    background-color: #c22b2b; /* Vermelho */
  }

  & .saldo {
    background-color: #374151; /* Cinza escuro */
  }
}

.container-tabela-botoes {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.container-botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-salario-total {
  display: flex;
  flex-direction: column;
  background-color: #0000004e;
  width: 100%;
  padding: 20px;
  gap: 5px;
  border-radius: 10px;
  & input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  & label {
    font-size: 16px;
    font-weight: bold;
  }
  & button {
    padding: 10px 20px;
    border: none;
    background-color: #c22b2b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}

.container-tabela {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden; /* Isso garante que o border-radius funcione corretamente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
}
tbody tr:hover {
  background-color: #f1f1f1;
}

.botao-remover {
  background-color: transparent;
  border: none;

  & svg {
    color: #000000;
    cursor: pointer;
    width: 20px;
  }
  & .icone-remover:hover {
    color: #c22b2b;
  }
}
.botao-editar {
  background-color: transparent;
  border: none;

  & svg {
    color: #000000;
    cursor: pointer;
    width: 20px;
  }
  & .icone-editar:hover {
    color: orange;
  }
}

/* Estilo para o botão de Despesa (vermelho) */
.botao-despesa {
  background-color: #c22b2b; /* Vermelho */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
/* Estilo para o botão de Receita (verde) */
.botao-receita {
  background-color: #1d9021; /* Verde */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.botao-abrir-modal {
  width: 20%;
  text-align: center;
  padding: 12px 18px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.botao-abrir-modal:hover {
  background-color: #1159b7; /* Verde mais escuro no hover */
}

.botao-criptomoedas {
  text-align: center;
  width: 20%;
  background-color: #374151; /* Cinza escuro */
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.botao-criptomoedas:hover {
  background-color: #333; /* Cinza mais claro no hover */
}

.botao-gerar-exel {
  width: 20%;
  text-align: center;
  padding: 12px 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.botao-gerar-exel:hover {
  background-color: #45a049; /* Cinza mais claro no hover */
}

.botao-exportar-dados {
  width: 20%;
  text-align: center;
  padding: 12px 18px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.botao-exportar-dados:hover {
  background-color: #c22b2b; /* Vermelho mais claro no hover */
}

/* Container do card */
.container-importar-dados {
  width: 20%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.card-importar-dados {
  border: 2px dashed #007bff;
  border-radius: 8px;
  padding: 20px;
  transition: all 0.3s ease;
  cursor: pointer;

  & label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  & input {
    display: none;
  }

  & .text {
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
  }
  & .icon {
    font-size: 32px;
  }
}
.card-importar-dados:hover {
  background-color: #f0f8ff;
  border-color: #0056b3;
}


/* Reponsividade */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 10px;
    & .card {
      width: 90%;
      margin: auto;
    }
  }

  .container-tabela {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  .container-salario-total,
  .container-adicionar-gasto,
  .container-tabela {
    width: 100%;
  }

  .botao-abrir-modal,
  .botao-criptomoedas,
  .botao-gerar-exel,
  .botao-exportar-dados,
  .container-importar-dados{
    width: 30%;
  }
}

@media (max-width: 550px) {
  .botao-abrir-modal,
  .botao-criptomoedas,
  .botao-gerar-exel,
  .botao-exportar-dados,
  .container-importar-dados {
    width: 40%;
  }
}

@media (max-width: 400px) {
  .botao-abrir-modal,
  .botao-criptomoedas,
  .botao-gerar-exel,
  .botao-exportar-dados,
  .container-importar-dados {
    width: 50%;
  }
}

@media (max-width: 350px) {
  .botao-abrir-modal,
  .botao-criptomoedas,
  .botao-gerar-exel,
  .botao-exportar-dados,
  .container-importar-dados {
    width: 60%;
  }
}
@media (max-width: 285px) {
  .botao-abrir-modal,
  .botao-criptomoedas,
  .botao-gerar-exel,
  .botao-exportar-dados,
  .container-importar-dados {
    width: 100%;
  }
}
