* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #dbdbdb;
  padding: 30px;
}

.titulo {
  font-size: 24px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  & .card {
    width: 25%;
    padding: 20px 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  & .card:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  & .row {
    display: flex;
    gap: 10px;
  }
  & .card i {
    font-size: 30px;
    color: white;
  }

  & .card h3 {
    font-size: 16px;
  }

  & .card p {
    font-size: 24px;
    font-weight: bold;
  }
  & .salario {
    background-color: #1d9021; /* Verde */
  }

  & .gastos {
    background-color: #c22b2b; /* Vermelho */
  }

  & .saldo {
    background-color: #374151; /* Cinza escuro */
  }
}

.container-formulario-tabela {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.container-formularios {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-salario-total {
  display: flex;
  flex-direction: column;
  background-color: #0000004e;
  width: 100%;
  padding: 20px;
  gap: 5px;
  border-radius: 10px;
  & input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  & label {
    font-size: 16px;
    font-weight: bold;
  }
  & button {
    padding: 10px 20px;
    border: none;
    background-color: #c22b2b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
.container-adicionar-gasto {
  display: flex;
  flex-direction: column;
  background-color: #0000004e;
  width: 100%;
  padding: 20px;
  gap: 5px;
  border-radius: 10px;

  & .container-info-gastos {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  & label {
    font-size: 16px;
    font-weight: bold;
  }
  & select{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  & button {
    padding: 10px 20px;
    border: none;
    background-color: #1d9021; /* Verde */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
}
.container-tabela{
  width: 75%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden; /* Isso garante que o border-radius funcione corretamente */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
}

.btn:hover {
  background-color: #218838;
}
.botao-lixeira {
  background-color: transparent;
  border: none;

  & svg {
    color: #000000;
    cursor: pointer;
  }
  &:hover svg {
    color: #c22b2b;
  }
}

/* Reponsividade */

@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 10px;
    & .card {
      width: 90%;
      margin: auto;
    }
  }

  .container-formulario-tabela {
    flex-direction: column;
    gap: 10px;
    & .container-formularios {
      width: 100%;
    }
  }

  .container-salario-total,
  .container-adicionar-gasto,
  .container-tabela {
    width: 100%;
  }
}
